<!DOCTYPE html>
<html>
<head>
    <title>Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos 🚚</h1>

    <form method="POST" action="/agregar_pedido">
        <input type="text" name="direccion" placeholder="Dirección" required>
        <input type="text" name="telefono" placeholder="Teléfono" required>
        <button type="submit">Agregar Pedido</button>
    </form>

    <hr>

    <ul>
        {% for pedido in pedidos %}
    <li>
        ID: {{ pedido.id }} |
        Cliente: {{ pedido.nombre }} |
        Dirección: {{ pedido.direccion }} |
        Teléfono: {{ pedido.telefono }} |

        {% if pedido.estado == 'Pendiente' %}
            {% set color = "orange" %}
        {% elif pedido.estado == 'En camino' %}
            {% set color = "blue" %}
        {% else %}
            {% set color = "green" %}
        {% endif %}

        Estado:
        <strong style="color: {{ color }};">
            {{ pedido.estado }}
        </strong>

        {% if pedido.estado == 'Pendiente' %}
        🔄 <a href="/cambiar_estado/{{ pedido.id }}">Iniciar Entrega</a>
        {% elif pedido.estado == 'En camino' %}
        🔄 <a href="/cambiar_estado/{{ pedido.id }}">Marcar Entregado</a>
        {% else %}
        🔄 <a href="/cambiar_estado/{{ pedido.id }}">Reiniciar Pedido</a>
        {% endif %}
        ❌ <a href="/eliminar/{{ pedido.id }}">Eliminar</a>
        ✏️ <a href="/editar/{{ pedido.id }}">Editar</a>
    </li>
{% endfor %}
    </ul>

</body>
</html>
